<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         failOnDeprecation="false"
         failOnWarning="false">

    <testsuites>
        <testsuite name="Kniploket Tiko – Validator Tests">
            <file>tests/ValidatorTest.php</file>
        </testsuite>
        <testsuite name="Kniploket Tiko – Klant Tests">
            <file>tests/KlantTest.php</file>
        </testsuite>
        <testsuite name="Kniploket Tiko – Medewerker Tests">
            <file>tests/MedewerkerTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>
